:root{
  --text: #0F1724;   /* texte principal */
  --headerFooter:  #123047;   /* header/footer */
  --button:    #FFB66E;   /* bouton primaire / accents */
  --background:     #F6F3EE;   /* fond général */
  --card:      #FFFFFF;   /* cartes / surfaces */
  --soft:      #899095;   /* bordures / éléments secondaires */
}
html, body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
/* ================= Header ================= */
.header{
  background-color: var(--headerFooter);
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  display: flex;
}
.logo{
  width: 4rem;
}
/* ================= Navigation ================= */
/* ----------------- Nav-top ----------------- */
.nav-top{
  flex: 1;
  margin-left: 20px;
}
.nav-top ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-top a{
  display: block;
  text-decoration: none;
  color: var(--card);
  font-size: 1.3rem;
}
.nav-top a:hover{
  color: var(--button);
  transition: 0.2s;
}
@media (max-width: 768px){
  .nav-top ul {
    flex-direction: column; 
    gap: 0.5rem;            
    align-items: center;     
  }
    .nav-top a {
    font-size: 1rem;      
  }
}
/* ----------------- Nav-bottom ----------------- */
.nav-bottom{
  text-align: center;
}
.nav-bottom ul{
  text-decoration: none;
  list-style: none;
  padding: 0;
  display: inline-block;  

}
.nav-bottom a{
  text-decoration: none;
  display: inline-block;  
  color: var(--card);
  background-color: var(--button);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 20px;
}
.nav-bottom a:hover{
  background-color: var(--card);
  border-radius: 10px;
  color: var(--button);
  transform: 0.3s;
}
/* ================= Hero ================= */
.hero-image{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  filter: brightness(0.5);
  z-index: 0;
}
.hero{
  position: relative;
}
.hero-title{
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%,-25%);
  text-shadow: 1px 1px 5px var(--text);
  color: var(--background);
  z-index: 1;
  max-width: 600px;
}
.hero-title h1{
  font-size: 3rem;
}
.hero-title p{
  font-size: 1.5rem;
  color: var(--soft);
}
/* ================= Main ================= */
.articles h2{
  text-align: center;
  font-size: 2rem;
}
.articles-div{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px){
  .articles-div{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px){
  .articles-div{
    grid-template-columns: repeat(3, 1fr);
  }
}

.articles-div h3{
  text-align: center;
  margin: 0 25px 40px 25px;
  font-size: 1.2rem;
}
.articles-div p{
  padding: 5px 10px;
  margin: 0 25px 15px 25px; 
}
.articles-div .author{
  text-align: right;
  font-style: italic;
}
.articles article {
  background: var(--card);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding: 25px 5px;
  margin-bottom: 15px;
}
/* ================= Footer ================= */
.footer{
  background-color: var(--headerFooter);
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  display: flex;
  color: var(--card);
}
.footer2 ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0;
}
.footer2 a{
  text-decoration: none;
  color: var(--card);
  display: block;
}
.footer2 a:hover{
  color: var(--button);
  transition: 0.2s;
}
/* ================= Form ================= */
.meet-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meet-card p{
  color: var(--soft);
}
.meet-card h3{
  font-size: 1.8rem;
}
.intro-form{
  max-width: 500px;
  margin-bottom: 50px;
  padding: 0px;
}
.meet-form{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  gap: 15px;
  padding: 50px;
  background-color: var(--card);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border-radius: 15px;
}
.button{
  background-color: var(--button);
  border-radius: 15px;
  padding: 20px ;
  margin-top: 15px;
  color: var(--card);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border:3px solid var(--button);
  font-size: 1.2rem;
}
.button:hover {
  background-color: var(--card);
  color: var(--button);
  border:3px solid var(--button);
}
.meet-form #checkbox{
  color: var(--button);
}
.meet-form label{
  font-weight: bolder;
  font-size: 1.2rem;
}
.meet-form input, .meet-form select{
border: 1px solid var(--soft);
border-radius: 8px;
padding: 8px 12px;
}
/* ================= Meet our dogs ================= */
.dog-card{
  background-color: var(--card);
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding: 25px;
}
.dog-card:hover{
  transform: translateY(-5px);
}
.dog-card img{
  width: 100%;
  border-radius: 15px;
}
.dogs{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3,1fr);
  padding: 20px;
}
.dog-card h4{
  font-size: 1.3rem;
  margin: 0px;
}
.dog-card p{
  font-size: 0.8rem;
  color: var(--soft);
}
.dog-card .button{
  display: block;
  text-decoration: none;
}
@media (max-width: 1024px) {
  .dogs {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur tablette */
  }
}

@media (max-width: 768px) {
  .dogs {
    grid-template-columns: 1fr; /* 1 colonne sur mobile */
  }
}

/* ================= Meet our team ================= */

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: 30px auto;
  padding: 0 20px;
  gap: 30px;
}

.staff-card , .staff-card-reverse{
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;  
  background-color: var(--card);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.staff-card img,.staff-card-reverse img{
  width: 300px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.staff-card-reverse {
  display: grid;
  direction: rtl;
}

.staff-info h4 ,.staff-card-reverse h4 {
  margin: 0 auto;
  font-size: 2rem;
}
.staff-info h5 ,.staff-card-reverse h5 {
  margin: 0 auto;
  font-size: 1.5rem;
  color: var(--button);
}
.staff-info span{
  font-style: italic;
}
.staff-info p {
  margin: 10px 0;
  color: var(--soft);
}

@media (max-width: 768px) {
  .staff-card, .staff-card-reverse {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .staff-card-reverse {
    direction: ltr;
  }
  .staff-card-reverse img, .staff-card img{
  justify-self: center;
  }
}
